[MESSAGES CONTROL]
disable=wrong-import-order,  # This conflicts with flake8-import-order
        useless-object-inheritance,
        # Apparently inheriting from object is not needed in python 3,
        # but I like this explicitness
        W0511, # We can figure out the fixme's later.
        C0111 # Sometimes docstrings are missing because they add visual clutter on self-documenting methods
