language: python
install:
  - pip install tox
  - pip install codacy-coverage
matrix:
  include:
    # Test most recent editions of python 3
    - python: 3.5
      env: TOX_ENV=py35
    - python: 3.6
      env: TOX_ENV=py36
    # Unfortunately python 3.7 is not supported by travis yet.
    #- python: 3.7
    #  env: TOX_ENV=py37
script:
    - tox -e $TOX_ENV
    # Only run if CODACY_PROJECT_TOKEN is defined.
    # This is not the case for pull requests outside of galaxyproject/ephemeris
    - bash -c 'if [[ -v CODACY_PROJECT_TOKEN ]]  ; then  python-codacy-coverage -r coverage.xml; fi'
