name: Continous integration

on:
  pull_request:
  push:
    branches:
      - develop
      - master


jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Lint
        run: tox -e lint
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Build docs
        run: tox -e docs
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Run tests
        run: tox -e py3
      - name: Upload coverage report
        uses: codecov/codecov-action@v1

  test-functional-python-tools:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7"]
        test-program: [snakemake, miniwdl]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox

      - name: Test
        shell: bash -l {0}  # Needed for conda
        run: tox -e ${{ matrix.test-program }}

  test-functional-other:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-program: [ cromwell, nextflow ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v2.0.1 # https://github.com/conda-incubator/setup-miniconda.
        with:
          channels: conda-forge,defaults
          mamba-version: "*"
          channel-priority: true

      - name: Install test program and tox
        shell: bash -l {0}  # Needed for conda
        run: mamba install ${{ matrix.test-program }} tox

      - name: Test
        shell: bash -l {0}  # Needed for conda
        run: tox -e ${{ matrix.test-program }}